<head>
  <meta charset="UTF-8">
  <title>John Manero | Resume</title>

  <link href="styles/main.css" rel="stylesheet">

  <script src="jquery/jquery.min.js"></script>
  <script src="tether/tether.min.js"></script>
  <script src="bootstrap/bootstrap.min.js"></script>
</head>
