<head>
  <meta charset="UTF-8">
  <title>John Manero | Resume</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

  <link href="styles/main.css" rel="stylesheet">

  <script src="jquery/jquery.min.js"></script>
  <script src="tether/tether.min.js"></script>
  <script src="bootstrap/bootstrap.min.js"></script>
</head>
