<div class="masthead">
  <div class="name">
    <div class="col-12 text-center">
      <span class="title-1">John Manero</span>
    </div>
  </div>
  <div class="section">
    <div class="col-4 text-left">
      <i class="icon fa fa-map-marker"></i>&nbsp;Boston, Massachusetts
      <br />
      <i class="icon fa fa-envelope"></i>&nbsp;<a href="mailto:john.manero@gmail.com">john.manero@gmail.com</a>
      <br />
      <i class="icon fa fa-phone"></i>&nbsp;<a href="tel:(603)781-1613">(603) 781-1613</a>
    </div>
    <div class="col-4 text-center">
      <span class="title-2">Software Engineer</span>
    </div>
    <div class="col-4">
      <span class="pull-right"><a target="_blank" href="https://github.com/jmanero">jmanero</a>&nbsp;<i class="icon fa fa-github"></i></span>
      <br />
      <span class="pull-right"><a target="_blank" href="http://www.linkedin.com/in/johnmanero/">johnmanero</a>&nbsp;<i class="icon fa fa-linkedin"></i></span>
    </div>
  </div>
</div>
